



<table id="index">
<tr> 
<th>#</th>

<th>  NAME</th> 
<th> EMAIL </th> 
<th> EMAIL </th> 
</tr>

    <tr>
    <td> <%=@user.id%> </td>
      <td> <%=@user.name%> </td>
      <td> <%=@user.email%> </td>
       <td> <%=@user.role%> </td>
      
          
        

    </tr>

</table>